/* Em um arquivo CSS separado ou no seu arquivo de estilos principal */
.table-container {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
  color: #333;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Estilos para os botões de navegação */
.pagination button {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.pagination button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 400px; /* Largura do modal lateral */
  height: 100%;
  overflow: auto;
  background-color: #f2f2f2;
  padding-top: 60px; /* Espaço para o cabeçalho do modal */
  transition: 0.3s; /* Efeito de transição */
}

/* Mostrar o modal */
.modal.show {
  display: block;
}

/* Estilos para o conteúdo do modal */
.modal-content {
  margin-left: auto;
  padding: 20px;
}

/* Botão de fechar */
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: red;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.card {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 380px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  color: red;
}