body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* .clusters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.cluster {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cluster h3 {
  text-align: center;
  margin-bottom: 10px;
}

.city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.city-card {
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.city-card h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.city-card p {
  margin: 5px 0;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* Estilos para o modal e sua aparência lateral */
.modal-container {
  position: fixed;
  top: 0;
  right: -300px; /* Posição inicial fora da tela */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease; /* Adiciona uma transição suave */
}

.modal-container.show {
  right: 0; 
}

.modal-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close:hover {
  color: #000;
}

.cluster-container {
  display: flex;
  flex-wrap: nowrap;
}

.cluster {
  margin-right: 20px; /* Espaçamento entre os clusters */
}

.city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Exemplo de grid responsivo */
  gap: 10px; /* Espaçamento entre as cidades */
}

.city-card {
  border: 1px solid #ccc;
  padding: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.pagination li {
  display: inline-block;
  margin: 0 4px;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background-color: #f5f5f5;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


/* SideModal.css */

/* Estilos para o fundo do modal */
.side-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  z-index: 1000;
  display: flex;
  justify-content: flex-end; /* Alinhamento à direita para o modal lateral */
}

/* Estilos para o conteúdo do modal */
.side-modal-content {
  width: 300px;
  max-height: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para o modal */
  overflow-y: auto; /* Permite a rolagem vertical */
}

